# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# node.js
.nyc_output/
coverage/
node_modules/
npm-debug.log
package-lock.json
test/*.log

# react.js
node_modules/
.DS_Store
dist/

# Other files and folders
.settings/
.env

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
